body, html {
    width: auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f1f1f1;
    color: black;
}

input, label {
    display: block;
    width: 100%;
    margin: 5px 0;
    border: none;
}

input {
    padding: 8px;
    background-color: white;
    color: black;
    border: 0px solid #ddd;
    font-size: 14px;
    text-align: center;
}

#champname, #v1name, #v2name, #v3name, #v4name, #v5name, #v6name, #v7name, #v8name, #v9name, #v10name {
  text-transform: lowercase;
}

.vname, .result, .currentconversionrate, .champcurrentconversionrate, .visitors, .conversions, .champstartingVisitors, .champstartingConversions {
  background-color: #f1f1f1;
  border: none;
}

.pageName {
  width: 96.5%;
  background-color: #f1f1f1;
  border: none;
  text-align: left;
  font-size: 14px;
}

.result {
    font-weight: bold;
    padding: 8px;
}

.offsite {
  width: 300px;
  font-size: 14px;
}

.unbounce {
  text-decoration: underline;
  font-weight: bold;
  color: blue;
}

.footer {
  display: flex;
  width: 96.5%;
  justify-content: space-between;
  font-size: 14px;
}

.footer a {
  color: black;
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 6px;
  width: 10px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #ccc;
  color: #000;
  text-align: center;
  border-radius: 0px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -28px;
  left: -210px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.popup {
  width: 560px;
}

.popup h1 {
  font-size: 20px;
}

.popup h2 {
  font-size: 16px;
}
#bookmarksArea a:link,
#bookmarksArea a:visited {
    color: #0033FF;
    text-decoration: none; /* Optional: remove underline */
}

#bookmarksArea a:hover {
    text-decoration: underline; /* Optional: underline on hover */
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212"; /* Unicode character for "minus" sign (−) */
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
