body, html {
    width: auto;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: black;
}

input, label {
    display: block;
    width: 100%;
    margin: 5px 0;
    border: none;
}

input {
    padding: 8px;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: lightgrey;
}

::placeholder {
  color: lightgrey;
}

#champname, #v1name, #v2name, #v3name, #v4name {
  text-transform: lowercase;
}

.result, .currentconversionrate, .champcurrentconversionrate, .visitors, .conversions {
  background-color: #f1f1f1;
  border: none;
}

.pageName {
  width: 96.5%;
  background-color: #f1f1f1;
  border: none;
}

.calculate-btn {
    padding: 10px;
    background-color: darkgreen;
    color: white;
    border: none;
}

.reset-btn {
    padding: 10px;
    background-color: darkred;
    color: white;
    border: none;
}

.result {
    font-weight: bold;
    padding: 8px;
}
