body, html {
    width: auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f1f1f1;
    color: black;
}

input, label {
    display: block;
    width: 100%;
    margin: 5px 0;
    border: none;
}

input {
    padding: 8px;
    background-color: white;
    color: black;
    border: 0px solid #ddd;
    font-size: 14px;
    text-align: center;
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: lightgrey;
}

::placeholder {
  color: lightgrey;
}

#champname, #v1name, #v2name, #v3name, #v4name {
  text-transform: lowercase;
}

.vname, .result, .currentconversionrate, .champcurrentconversionrate, .visitors, .conversions, .champstartingVisitors, .champstartingConversions {
  background-color: #f1f1f1;
  border: none;
}

.pageName {
  width: 96.5%;
  background-color: #f1f1f1;
  border: none;
  text-align: left;
  font-size: 16px;
}

.result {
    font-weight: bold;
    padding: 8px;
}

.offsite {
  width: 300px;
  font-size: 14px;
}

.unbounce {
  text-decoration: underline;
  font-weight: bold;
  color: blue;
}

.credit {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.credit a {
  color: black;
}
